.dance{
    width: 900px;
    height:400px;
    background-color: black;
}
.floor{
    width:1000px;
    height:500px;
background-image: url("https://share.sketchpad.app/24/003-2985-affa25.png");
    background-repeat: no-repeat;
    background-size: 2000px;
    padding-left: 1000px;

}
.back{
   max-width:1800px;
    max-height: 1000px;
    background-color: black;
    align-self: center;


}
h1{
    color: #d0d7dc;
}