.main{
    max-width: 1600px;
    max-height: 900px;
    display: flex;
    align-content: center;
}

.row {
    display: flex;
    gap: 15px;
; justify-content: center

}
.info{
    width: 600px;
    height: 900px;
    background-color:grey;


}
label{
    text-align: right;
}
.Buddy {
    width: 600px;
    height: 900px;
    background-color: black;
}

button{
    font-family: Georgia;

}
p{
    color: white;
    text-align: center;
    font-size: x-large;
}
.start{
    max-width: 2050px;
    max-height: 1500px;
    display:flex;
    justify-content: center;


}
.box{
    height: 400px;
    width: 400px;
    background-color: lightsalmon;
}